.section {
	margin-top:10px;
}
.section h2, .section a {
	float:left;
}

.section a {
	margin-top: 15px;
	margin-left: 5px;
}

#workout-timer {
	color: red;
	font-size: 40px;
}

#workout-timer.hasCountdown {
	border: 0px;
}